.page-content{
    /* background-image: url(../../../../public/images/bg-auth.png); */
    background-color: rgba(213,	122,67, 0.2);
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.auth-card{
    box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);
}
.service-btn, .login-btn, .signup-btn {
    background-color: #6a2101;
    transition: all 0.4s ease;
}

.service-btn:hover, .login-btn:hover, .signup-btn:hover {
    background-color: #9f4c22;
}
form label {
    color:#6a2101;
 }
