/* <!-- ---- Media Query ---- --> */
/* @media (min-height: 1025px) {  */
@media (min-height: 863px) { 
  #cake {
    height: 100vh;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 992px) {
  #hero,
  #selection,
  #about,
  #cake,
  #cart,
  #admin {
    padding-top: 82px;
  }
  .nav-logo {
    position: relative;
    top: -5px;
  }
  .featured-card {
    width: 180px;
    height: 180px;
    border: 5px solid white;
  }
  .featured-img {
    height: 180px;
  }
  .form-category,
  .form-name,
  .form-price,
  .form-description {
    width: 72%;
  }
  .admin-product {
    transform: translate(0, 0);
  }
  .admin-product-img {
    width: 57%;
  }
  .footer {
    justify-content: space-between;
  }
  .layered-footer {
    bottom: 55px;
  }
  .mobile-total{
    display: none;
  }
  #footer {
    margin-top: 10px;
  }
}

@media (max-width: 991px) {
  #hero,
  #selection,
  #about,
  #cake,
  #cart,
  #admin {
    padding-top: 143px;
  }
  .layered-footer {
    bottom: 135px;
  }
  .featured-card {
    width: 150px;
    height: 150px;
    border: 4px solid white;
  }
  .featured-img {
    height: 150px;
  }
  .form-category,
  .form-name,
  .form-price,
  .form-description {
    width: 100%;
  }
  .admin-product {
    transform: translate(-42%, 0);
  }
  #footer {
    margin-top: 3px;
  }
  .cart-mobile{
    display: none;
  }
}

@media (min-width: 768px) {
  .product {
    width: 400px;
  }
  #review-input {
    width: 50%;
  }
}

@media (max-width: 767px) {
  #hero,
  #selection,
  #about,
  #cake,
  #cart,
  #admin {
    padding-top: 143px;
  }
  .featured-card {
      width: 110px;
      height: 110px;
      border: 3px solid white;
    }
  .featured-img {
      height: 110px;
    }
  .form-category,
  .form-name,
  .form-price,
  .form-description {
    width: 100%;
  }
  .admin-product {
    transform: translate(0, 0);
  }
  #review-input {
    width: 100%;
  }
}

@media (max-width: 535px) {
  #hero,
  #selection,
  #about,
  #cake,
  #cart,
  #admin {
    padding-top: 192px;
  }
}


@media (min-width: 460px) {
  .cart-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cart-buy {
    margin-left: 25px;
  }
}

@media (max-width: 459px) {
  #hero,
  #selection,
  #about,
  #cake,
  #cart,
  #admin {
    padding-top: 128px;
  }
  .nav-label {
    display: none;
  }
  .layered-footer {
    bottom: 160px;
  }
  #footer {
    margin-top: 1px;
  }
  .cake-btn-add, 
  .cake-btn-go, 
  .cart-buy,
  .cont-shop, 
  .admin-btn-upload {
    display: block;
  }
  .cake-btn-add,
  .cart-buy,
  .cont-shop, 
  .admin-btn-upload {
    width: 100%;
  }
  .cake-btn-go {
    text-align: center;
  }
}

@media (max-width: 404px) {
  #hero,
  #selection,
  #about,
  #cake,
  #cart,
  #admin {
    padding-top: 166px;
  }
}

@media (max-width: 280px) {
  #hero,
  #selection,
  #about,
  #cake,
  #cart,
  #admin {
    padding-top: 166px;
  }
  .nav-label {
    display: none;
  }
  .layered-footer {
    bottom: 182px;
  }
  #footer {
    margin-top: 0px;
  }
}

/* <!-- ---- Loading ---- --> */
.loading-base {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 1031;
}

.loading-auth {
  position: absolute;
  padding: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* <!-- ---- Navigation ---- --> */
.cart-number {
  top: 5px;
  right: -15px;
  border: 2px solid var(--light-brown);
}

.login {
  padding: 6px 16px 0 16px;
}

.btn-login {
  border: 3px solid var(--dark-brown);
  padding: 10px 25px;
}

.nav-link {
  color: var(--dark-brown) !important;
}

li:not(:last-child) .nav-link:hover {
  color: var(--brown) !important;
}

.layered {
  bottom: -10;
  right: 0;
}

/* <!-- ---- Featured Selection ---- --> */
.featured-bg {
  background-color: rgba(213,	122,67, 0.2);
}

.featured-card {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

.featured-img:hover {
  transform: scale(1.1);
}

/* ----- Selected Selection-----  */
.card-img {
  border: 5px solid #ebadad;
}
.card-img:hover {
  cursor: pointer;
  border: 5px solid chartreuse;
}
.card-img:hover img {
  transform: scale(1.1);
  transition: all 0.4s ease;
}

/* ----- New Collection-----  */
#varities, #hero {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}
.new-col-card,
.cart-cake-card {
  border: 4px solid var(--brown);
} 

.new-col-like {
  color: rgb(237, 73, 86);
  top: 7px;
  left: 15px;
}
.base-like {
  color: white;
  top: 2px;
  left: 11px;
}

.new-col-card:hover,
.cart-cake-card:hover {
  border: 4px solid var(--light-brown);
}

.new-col-card:hover img,
.cart-cake-card:hover img {
  transform: scale(1.1);
}

.item-name {
  font-size: 18px;
}

/* <!-- ---- Reviews ---- --> */
#review {
  background-color: rgba(213,	122,67, 0.2);
}

#review-input {
  height: 50px;
  padding: 12px;
  background-color: transparent;
  resize: none;
}

.submit-review {
  border: 3px solid var(--dark-brown);
  padding: 10px 25px;
}

.submit-review:hover {
  border: 3px solid var(--brown);
}

.review-card {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

.review-profile {
  height: 40px;
  width: 40px;
}

.review-actions {
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.1);
  width: 85px;
  top: 0;
  right: 16px;
}

.review-icon {
  top: 0;
  right: 0;
}

.edit-review:hover,
.delete-review:hover {
  font-weight: bolder;
}

.for-save-btn {
  margin-top: 6px;
}

.review {
  font-size: 15px;
  resize: none;
  overflow-y: hidden;
}

.save-review,
.delete-review {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.save-review:hover,
.delete-review:hover {
  font-weight: bolder;
}

.delete-review:hover {
  color: #dc3545;
}

/* ----- About ----- */
.about-img {
  border: 5px solid white;
}

/* ----- Cake ----- */
#cake {
  /* background-image: url(../public/images/cake-bg.png); */
  background-image: linear-gradient(to bottom left, rgba(213,	122,67, 0.2), white, white, rgba(213,	122,67, 0.2));
}

.product:hover .cake-zoom,
.admin-product-img:hover {
  transform: scale(1.05);
}

.cake-zoom-left {
  scale: 1.3;
  transform: translate(10%, -10%);
}

.cake-zoom-right {
  scale: 1.3;
  transform: translate(-10%, -10%);
}

.cake-btn-add, 
.cake-btn-go, 
.cont-shop, 
.admin-btn-upload {
  border: 3px solid var(--dark-brown);
  padding: 10px 25px;
}

.cake-btn-add, 
.cont-shop, 
.admin-btn-upload {
  background-color: transparent;
}

.cake-btn-go:hover {
  border: 3px solid var(--brown);
}

.like {
  color: rgb(75, 75, 75);
}

.liked, .like:hover {
  color: rgb(237, 73, 86);
}

/* ----- Cart ----- */
#cart {
  /* background-image: url(../public/images/cart-bg.png); */
  /* height: 100vh; */
  background-image: linear-gradient(to bottom right, rgba(213,	122,67, 0.2), white, white, rgba(213,	122,67, 0.2));
}

#cart-cake {
  background-image: linear-gradient(to bottom left, rgba(213,	122,67, 0.2), white, white, rgba(213,	122,67, 0.2));
}

.incart {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

.cart-circle {
  height: 30px;
  width: 30px;
}

.incart-cake {
  width: 75px;
}

.incart-cake:hover {
  transform: scale(1.05);
}

.select-cake,
.admin-input {
  width: 23px;
  height: 23px;
}

.trash {
  color: rgb(75, 75, 75);
}

.trash:hover {
  color: #dc3545;
}

.cart-buy {
  border: 3px solid var(--dark-brown);
  padding: 10px 25px;
}

.cart-buy:hover {
  border: 3px solid var(--brown);
}

.cart-select {
  width: 69px;
}

.body-delete {
  background-color: rgba(255, 225, 235, 0.7);
  border: 1px solid #dc3545;
}

/* ----- Admin ----- */
.admin-product-card {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

#admin-products {
  background-image: linear-gradient(rgba(213,	122,67, 0.2),  white, white, white, white, white, white, white, white, white, white, white, white, white, white, rgba(213,	122,67, 0.2));
}

#admin-review {
  background-color: rgba(213,	122,67, 0.2);
}

/* ----- Footer ----- */
.layered-footer {
  right: 0;
}