/* <!-- ---- Media Query ---- --> */
@media (min-width: 992px) {
  #hero,
  #selection,
  #about,
  #cake,
  #cart {
    padding-top: 94px;
  }
  .for-grid-review {
  grid-template-columns: repeat(3, 1fr);
  }
  .featured-card {
    width: 180px;
    height: 180px;
    border: 5px solid white;
  }
  .featured-img {
    height: 180px;
  }
  .footer {
    justify-content: space-between;
  }
  .layered-footer {
    bottom: 71px;
  }
  .mobile-total{
    display: none;
  }
  #footer {
    margin-top: 17px;
  }
}

@media (max-width: 991px) {
  #hero,
  #selection,
  #about,
  #cake,
  #cart {
    padding-top: 169px;
  }
  .layered-footer {
    bottom: 151px;
  }
  .for-grid-review{
    grid-template-columns: repeat(2, 1fr);
  }
  .featured-card {
    width: 150px;
    height: 150px;
    border: 4px solid white;
  }
  .featured-img {
    height: 150px;
  }
  #footer {
    margin-top: 13px;
  }
  .cart-mobile{
    display: none;
  }
}

@media (min-width: 768px) {
  .product {
    width: 400px;
  }
  #review-input {
    width: 50%;
  }
}

@media (max-width: 767px) {
  #hero,
  #selection,
  #about,
  #cake,
  #cart {
    padding-top: 216px;
  }
  .for-grid-review{
    grid-template-columns: repeat(1, 1fr);
    }
    .featured-card {
      width: 110px;
      height: 110px;
      border: 3px solid white;
    }
    .featured-img {
      height: 110px;
    }
  #review-input {
    width: 100%;
  }
}

@media (min-width: 460px) {
  .cart-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cart-buy {
    margin-left: 25px;
  }
}

@media (max-width: 459px) {
  #hero,
  #selection,
  #about,
  #cake,
  #cart {
    padding-top: 190px;
  }
  .nav-label {
    display: none;
  }
  .layered-footer {
    bottom: 175px;
  }
  #footer {
    margin-top: 7px;
  }
  .cake-btn-add, 
  .cake-btn-go, 
  .cart-buy,
  .cont-shop {
    display: block;
  }
  .cake-btn-add,
  .cart-buy,
  .cont-shop {
    width: 100%;
  }
  .cake-btn-go {
    text-align: center;
  }
}

@media (max-width: 280px) {
  #hero,
  #selection,
  #about,
  #cake,
  #cart {
    padding-top: 228px;
  }
  .nav-label {
    display: none;
  }
  .layered-footer {
    bottom: 198px;
  }
  #footer {
    margin-top: 3px;
  }
  
}

/* <!-- ---- Loading ---- --> */
.loading-base {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 1031;
}

.loading-auth {
  position: absolute;
  padding: 70px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* <!-- ---- Navigation ---- --> */
.cart-number {
  top: 5px;
  right: -15px;
  border: 2px solid var(--light-brown);
}

.login {
  padding: 6px 16px 0 16px;
}

.btn-login {
  border: 3px solid var(--dark-brown);
  padding: 10px 25px;
}

.nav-link {
  color: var(--dark-brown) !important;
}

li:not(:last-child) .nav-link:hover {
  color: var(--brown) !important;
}

.layered {
  bottom: -1;
  right: 0;
}

/* <!-- ---- Featured Selection ---- --> */
.featured-bg {
  background-color: rgba(213,	122,67, 0.2);
}

.featured-card {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

.featured-img:hover {
  transform: scale(1.1);
}
/* 
.selection-img {
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 90px;
  border: 3px solid #e05d5d;
  margin-left: auto;
  margin-right: auto;
}
.selected-img {
  height: 150px;
  width: 150px;
  border-radius: 90px;
  border: 3px solid #e05d5d;
  margin-left: auto;
  margin-right: auto;
}
.selection-img:hover {
  border-color: chartreuse;
}
.selected-img {
  border-color: chartreuse;
}
.selection-img:hover img {
  transform: scale(1.2);
}
.selection-img img {
  height: 140px;
  width: 110px;
}
.selected-img img {
  height: 150px;
  width: 120px;
}
.selection-img img,
.selection-img {
  transition: all 0.4s ease;
}
.selection-text {
  opacity: 0;
}
.selection-item:hover .selection-text {
  opacity: 1;
} */

/* ----- Selected Selection-----  */
.card-img {
  border: 5px solid #ebadad;
}
.card-img:hover {
  cursor: pointer;
  border: 5px solid chartreuse;
}
.card-img:hover img {
  transform: scale(1.1);
  transition: all 0.4s ease;
}
/* ----- New Collection-----  */
#varities, #hero {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}
.new-col-card {
  border: 4px solid var(--brown);
} 

.new-col-like {
  color: rgb(237, 73, 86);
  top: 7px;
  left: 15px;
}
.base-like {
  color: white;
  top: 2px;
  left: 11px;
}

.new-col-card:hover {
  border: 4px solid var(--light-brown);
}

.new-col-card:hover img {
  transform: scale(1.1);
}

.item-name {
  font-size: 18px;
}

.card-img-new {
  border: 5px solid #ebadad;
}
.card-img-new:hover {
  cursor: pointer;
  border: 5px solid chartreuse;
}
.card-img-new:hover img {
  transform: scale(1.1);
  transition: all 0.4s ease;
}
.card-img-new span {
  top: 20px;
  left: 20px;
}

/* <!-- ---- Reviews ---- --> */
#reviews {
  background-color: rgba(213,	122,67, 0.2);
}

#review-input {
  height: 50px;
  padding: 12px;
  background-color: transparent;
}

.grid-col-span-2 {
  grid-column: span 2;
}

.submit-review {
  border: 3px solid var(--dark-brown);
  padding: 10px 25px;
}

.submit-review:hover {
  border: 3px solid var(--brown);
}

.for-grid-review {
  display: grid;
  gap: 16px;
}

.review-card{
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

.review-profile {
  height: 40px;
  width: 40px;
}

.review {
  font-size: 15px;
}
/* ----- About ----- */
.about-img {
  border: 5px solid white;
}

/* ----- Cake ----- */
#cake {
  /* background-image: url(../public/images/cake-bg.png); */
  height: auto;
}

.product:hover img {
  transform: scale(1.05);
}

.cake-btn-add, 
.cake-btn-go, 
.cont-shop {
  border: 3px solid var(--dark-brown);
  padding: 10px 25px;
}

.cake-btn-add, 
.cont-shop {
  background-color: transparent;
}

.cake-btn-go:hover {
  border: 3px solid var(--brown);
}

.like {
  color: rgb(75, 75, 75);
}

.liked, .like:hover {
  color: rgb(237, 73, 86);
}


/* ----- Cart ----- */
#cart {
  /* background-image: url(../public/images/cart-bg.png); */
  height: auto;
}

.incart {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}

.cart-circle {
  height: 30px;
  width: 30px;
}

.incart-cake {
  width: 75px;
}

.incart-cake:hover {
  transform: scale(1.05);
}

.select-cake {
  width: 23px;
  height: 23px;
}

.trash-cake {
  color: rgb(75, 75, 75);
}

.trash-cake:hover {
  color: #dc3545;
}

.cart-buy {
  border: 3px solid var(--dark-brown);
  padding: 10px 25px;
}

.cart-buy:hover {
  border: 3px solid var(--brown);
}

.body-delete {
  background-color: rgba(255, 225, 235, 0.7);
  border: 1px solid #dc3545;
}

/* ----- Footer ----- */
.layered-footer {
  right: 0;
}