:root{
  /* Colors */
  --dark-brown: #6a2101;
  --brown: #9f4c22;
  --light-brown: #d57a43;
  --red: #ff0000;

  /* Box Shadow */
  --shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2), 0 0px 20px 0 rgba(0, 0, 0, 0.19);

  /* Transition*/
  --transition: all 0.4s ease-in-out;
}

.nav-bg-color, 
.cart-circle,
#footer {
  background-color: var(--light-brown);
}

.cart-number, 
.about-bg-color,
.btn-login:hover, 
.new-col-btn:hover,
.cake-btn-go:hover,
.submit-review:hover,
.cart-buy:hover,
.cart-cake-btn:hover {
  background-color: var(--brown);
}

.btn-login,
.cake-btn-add:hover, 
.cont-shop:hover,
.new-col-btn,
.cake-btn-go, 
.submit-review,
.cart-circle:hover,
.cart-buy, 
.cart-cake-btn,
.admin-btn-upload:hover {
  background-color: var(--dark-brown);
}

.socials:hover {
  color: var(--brown);
}

.cake-name, 
.save-review:hover,
.cake-btn-add, 
.cont-shop,
.cart-title h6, 
.mobile-total,
#footer p,
.socials, 
.admin-btn-upload {
  color: var(--dark-brown);
}

.cake-btn-add:hover,
.cont-shop:hover, 
.admin-btn-upload:hover {
  color: white;
}

.product,
.admin-product,
.featured-card:hover,
.about-bg-color,
.review-card:hover,
.incart-select {
  box-shadow: var(--shadow);
}

.btn-login:hover, 
.featured-card,
.featured-img,
.new-col-card,
.new-col-card img,
.new-col-btn,
.product img,
.review-card,
.submit-review,
.edit-review,
.delete-review,
.save-review, 
.cake-btn-add, 
.cont-shop,
.cake-btn-go, 
.like, 
.liked, 
.like:hover,
.admin-btn-upload,
.incart, 
.cart-circle, 
.incart-select,
.incart-cake,
.trash,
.cart-buy,
.cart-cake-card, 
.cart-cake-card img,
.cart-cake-btn,
.socials{
  transition: var(--transition);
}

.btn-login, 
.featured-card,
.new-col-card,
.cake-btn-add,
.cont-shop, 
.cake-btn-go, 
.submit-review,
.review-icon, 
.like, 
.liked, 
.like:hover, 
.admin-btn-upload,
.cart-input,
.admin-input,
.trash,
.cart-buy,
.cart-cake-card,
.socials  {
  cursor: pointer;
}

 #cake, 
 #cart {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }